@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet-Book.woff2') format('woff2'),
       url('./assets/fonts/Garet-Book.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet-Heavy.woff2') format('woff2'),
       url('./assets/fonts/Garet-Heavy.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply block rounded-full px-4 py-1.5 text-sm
    font-poppins text-white/80 
    transition duration-300
    hover:bg-white/10 hover:text-white;
  }

  .mask-gradient{
    mask-image: linear-gradient(
      to bottom, 
      transparent,
      rgba(0,0,0.9),
      rgba(0,0,0.9),
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to bottom, 
      transparent,
      rgba(0,0,0.9),
      rgba(0,0,0.9),
      transparent
    );
  }
}

@layer utilities{
  .container{
    @apply lg:max-w-6xl;
  }

      ::-webkit-scrollbar {
         width: 12px;
         height: 12px;
       }
    
       ::-webkit-scrollbar-track {
         background: #20242d;
       }
    
       ::-webkit-scrollbar-thumb {
         background: #033a81;
         border-radius: 6px;
         border: 1px solid #eee;
         transition: background 0.3s ease;
       }
    
       ::-webkit-scrollbar-thumb:hover {
         background: #555555;
       }
}